<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationId" value="f16517c2-5e4b-444f-9dda-61e8aa121d6b"/>
		<add key="TenantId" value="9b47157b-2ccc-421f-99e7-3b35746ab942"/>
		<add key="ClientSecret" value="mFd8Q~aBP8Yg_Ur7qTmd0320RlPkGpRZ4OcoecGv"/>
		<add key="Scopes" value="https://outlook.office365.com/.default"/>
		<add key="ExchangeHost" value="https://outlook.office365.com/ews/exchange.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="ApplicationId" connectionString="f16517c2-5e4b-444f-9dda-61e8aa121d6b"/>
	</connectionStrings>
</configuration>